* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  gap: 16px;
  font-family: "PT Sans", sans-serif;
  background: #efefef;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: fixed;
  top: 0;
  background: #efefef;
  width: 100vw;
}

.heading {
  color: #2f5339;
}

.counter-button,
.reset-button {
  width: 200px;
  padding: 8px 16px;
  background: #ffffff;
  font-weight: 600;
  font-size: 24px;
  border: 4px solid #2f5339;
  color: #ff5666;
  border-radius: 8px;
}
.top-container {
  display: flex;
  gap: 54px;
}

.grid-container {
  display: flex;
  gap: 16px;
}

h2 {
  color: #2e5339;
  font-weight: 100;
  text-align: center;
  padding-top: 8px;
  position: fixed;
  background-color: #00fddc;
}

.box {
  width: 100px;
  height: 100px;
  background: transparent;
  margin: 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-numbers {
  font-size: 60px;
  color: #495f41;
  margin-top: 16px;
}

.fifteen-column,
.five-column,
.three-column,
.odd-column,
.even-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 5px solid #2e5339;
  border-radius: 8px;
  width: 180px;
  background: #00fddc;
  min-height: 100vh;
  margin-top: 120px;
}
